<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{ .Title }}</title>
	<meta name="description" content="{{ .Site.Params.description }}">
	<meta name="author" content="{{ .Site.Author.name }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{{ .Site.Params.icon }}">
	<link rel="apple-touch-icon" href="{{ .Site.Params.icon }}">
</head>

<style>
{{ with resources.GetRemote "https://fonts.googleapis.com/css?family=Raleway:400,300,600&display=swap&text=%20%28%29%2B-./0123456789%3A%3DAEHISTabceghilmnopqrstuv%C3%97" | resources.ToCSS }}
{{ .Content | safeCSS}}
{{ end }}
{{ with resources.Get "style.scss" | resources.ToCSS }}
{{ .Content | safeCSS}}
{{ end }}
</style>

<body>
	<div id="container">
		<div style="width:100%">
			<input maxlength="5" pattern="\d{5}" inputmode="numeric" placeholder="Input 5 numbers...." id="input" />
			<div id="res" style="display:none">
				<h1>The Highest Score is:</h1>
				<div style="font-size:100px" id="score"></div>
				<div id="eqn-sec" style="display:none">
					<h1>Available equations:</h1>
					<div>
						<ul id="eqns" />
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script>{{
		$js := resources.Get "script.ts" | js.Build (
			dict "externals" (slice "/pkg/suhjong_wasm.js")
		) | minify
	}}{{ $js.Content | safeJS }}</script>

</html>
